@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&family=Source+Sans+Pro:wght@300;400&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-position: bottom;
    background: #393d3f;
    position: relative;
        
}

p {
    font-family: inherit;
    padding-left: 20px;
    padding-right: 20px;
}

i {
    margin-right: 5px;
    color: black;
}

.container {
    margin: 40px;
}

.info img {
    border-radius: 25px;
    box-shadow: 4px 4px 14px 4px rgba(0, 0, 0, 0.253);
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}
.info img:hover {
    box-shadow: 4px 4px 14px 4px rgba(4, 0, 248, 0.233);
    transition-duration: 0.3s;
    transition-property: box-shadow;
    
}

.info {
    display: flex;
}

.info-text {
    margin-left: 40px;
    color: white;

}

.bg-green {
    background: #ffffff;
}

.bg-yellow {
    background: #ffffff;
}

.bg-red {
    background: #ffffff;
}

.card {
    border-radius: 25px;
    padding: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
    width: 40%;
    transition: 0.3s;
}

.card:hover {
    margin-left: 5px;
}

.bio {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    width: 1000px;
    height: 650px;
    background: #FFFFFF;
    border-radius: 25px;
    box-shadow: 4px 4px 14px 4px rgba(0, 0, 0, 0.253);

}
.sc-media {
    display: none;
}

.hb i {
    margin-right: 7px;
     
}

.hb:hover {
    box-shadow: 4px 4px 14px 4px rgba(255, 0, 0, 0.432);
    transition-duration: 0.3s;
}

.sc-media:hover {
    box-shadow: 4px 4px 14px 4px rgba(247, 0, 255, 0.432);
    transition-duration: 0.3s;
}

.tb:hover {
    box-shadow: 4px 4px 14px 4px rgba(38, 0, 255, 0.432);
    transition-duration: 0.3s;
}



a {
    text-decoration: none;
    font-family: inherit;

}



a:hover {
    text-decoration: underline;
}


.table {
    width: 100%;

}

.table td ,
.table th {
    padding-bottom: 10px;
}

.table td:nth-child(2) ,
.table td:nth-child(3) {
    color: #86898F;
}

.H {
    text-align: center;
    color: white;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    color: white;
    
}


.form-group input ,
.form-group textarea {
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    outline: none;
    background: inherit;
    color: white;

}


.form-group input:hover ,
.form-group textarea {
    outline: blue;
    color: white;
}



.row {
    display: flex;
    margin-bottom: 20px;

}

.row > .form-group {
    width: 50%;
    padding-right: 15px;
}

.btn {
    border:  none;
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 10px;
}

.btn:hover {
    opacity: 80%;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.3s ;
    transition-property: all;
}

.social-menu {
    position: fixed;
    bottom: 20px;
    margin-right: 20px ;
    right: 0;
    float: right;
}
.social-menu ul {
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    margin-left: 5px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}

@media (max-width: 1000px) {
    
    body {
        background: #393d3f;
    }
    
    .container {
        margin: 40px;
    }
    
    .info img {
        border-radius: 25px;
        box-shadow: 4px 4px 14px 4px rgba(0, 0, 0, 0.253);
        margin-bottom: 0;
    }
    
    h1 {
        text-align: center;
    }
    .info img:hover {
        box-shadow: 4px 4px 14px 4px rgba(4, 0, 248, 0.233);
        transition-duration: 0.3s;
        transition-property: box-shadow;
        
    }
    
    .info {
        display: flex;
    }
    
    .info-text {
        margin-left: 40px;
        color: white;
    
    }
    
    .bg-green {
        background: #ffffff;
    }
    
    .bg-yellow {
        background: #ffffff;
    }
    
    .bg-red {
        background: #ffffff;
    }
    
    .card {
        border-radius: 25px;
        padding: 20px;
        padding-top: 10px;
        margin-bottom: 20px;
        width: 100%;
    }

    .card:nth-child(1) {
        margin-top: 20px;
    }

    .card:hover {
        margin-left: 5px;
        margin-bottom: 5;
        margin-top: 15px;
    }

    .sc-media {
        display: none;
    }
    
    a {
        text-decoration: none;
        font-family: inherit;
    
    }
    
    
    
    a:hover {
        text-decoration: underline;
    }
    
    
    .table {
        width: 100%;
    
    }
    
    .table td ,
    .table th {
        padding-bottom: 10px;
    }
    
    .table td:nth-child(2) ,
    .table td:nth-child(3) {
        color: #86898F;
    }
    
    .H {
        text-align: center;
        color: white;
    }
    
    .form-group label {
        display: block;
        margin-bottom: 10px;
        color: white;
        
    }
    
    
    .form-group input ,
    .form-group textarea {
        border: none;
        border-bottom: 1px solid white;
        width: 100%;
        outline: none;
        background: inherit;
    
    }
    
    
    .form-group input:hover ,
    .form-group textarea {
        outline: blue;
        color: white;
    }
    
    
    
    .row {
        display: flex;
        margin-bottom: 20px;
    
    }
    
    .row > .form-group {
        width: 50%;
        padding-right: 15px;
    }
    
    .btn {
        border:  none;
        background-color: black;
        color: white;
        padding: 10px;
    }
    
    .btn:hover {
        opacity: 80%;
        cursor: pointer;
        border-radius: 5px;
        transition-duration: 0.3s ;
        transition-property: all;
    }

    .bio {
        display: none;
    }
}



@media (max-width: 800px) {

  

    .info img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150px;

    } 

    
    .info {
        display: block;
    }

    .card {
        padding: 10px;
    }

    .card li {
        margin-left: 0;
    }
    .info-text {
        text-align: center;
        margin: 0px;
    }

    h1 {
        font-size: 15px;
    }

    li {
        font-size: 10px;
    }

    th ,
    td {
        font-size: 10px;
    }

    .form-group label , 
    .form-group input ,
    .form-group textarea {
        font-size: 10px;
    }

    .btn {
        font-size: 10px;
        padding: 5px;
        border-radius: 5px;
    }

    
    .sc-media {
        display: block;
    }
    
    .social-menu {
        display: none;
    }

    .bio {
        display: none;
    }
}


